<% provide(:title, "Edit") %>
<% provide(:class_text, "user--edit") %>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1>ユーザー情報編集</h1>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: @user %>
    
      <%= f.label :name, class: "label-user-edit required-form" %>
      <%= f.text_field :name, maxlength: 30, class: "form-control" %>
    
      <%= f.label :email, class: "label-user-edit required-form" %>
      <%= f.email_field :email, maxlength: 254, class: "form-control" %>
      
      <%= f.label :question, class: "label-user-edit required-form" %>
      <%= f.select :question, $questions, {}, class: "form-control" %>
      
      <%= f.label :answer, class: "label-user-edit required-form" %>
      <%= f.text_field :answer, maxlength: 20, placeholder: "20文字以内、スペースなし", class: "form-control" %>
    
      <%= f.label :password, class: "label-user-edit" %>
      <%= f.password_field :password, maxlength: 12, class: "form-control" %>
    
      <%= f.label :password_confirmation, class: "label-user-edit" %>
      <%= f.password_field :password_confirmation, maxlength: 12, class: "form-control" %>
    
      <div class="user-edit-submit">
        <%= f.submit "更新", class: "btn btn-md btn-primary" %>
        <%= link_to :back do %>
          <button class="btn btn-md btn-default">戻る</button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>