<% provide(:title, "All Users") %>
<% provide(:search_url, users_path) %>
<% provide(:search_title, "ユーザー検索") %>

<% if params[:search].present? %>
  <h1>検索結果</h1>
<% else %>
  <h1>ユーザー一覧</h1>
<% end %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="row search-area">
      <div class="col-xs-5 col-xs-offset-7">
        <%= render 'shared/search' %>
      </div>
    </div>
    
    <%= will_paginate %>
    <table class="table table-bordered table-condensed table-hover" id="table-users">
      <thead>
        <tr>
          <th>名前</th>
          <th>メールアドレス</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
  
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td><%= link_to "編集", edit_user_path(user), class: "btn btn-md btn-primary" %></td>
          <td>
            <% unless current_user?(user) %>
              <%= link_to "削除", user, method: :delete, class: "btn btn-md btn-danger",
                  data: { confirm: "#{user.name}を削除してよろしいですか？" } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate %>
  </div>
</div>