<% provide(:title, "Reset Password") %>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1>パスワード再設定</h1>
    <% if @user %>
      <%= render 'shared/error_messages', object: @user %>
      <table class="table table-bordered table-condensed" id="password-reset-user-table">
        <thead>
          <tr>
            <th width=50%>名前</th>
            <td width=50%><%= @user.name %></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
      
      <%= form_with(model: @user, url: update_password_user_path(@user), local: true) do |f| %>
      
        <%= f.label :password, class: "label-reset-password" %>
        <%= f.password_field :password, class: "form-control" %>
      
        <%= f.label :password_confirmation, class: "label-reset-password" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
        
        <div class="user-submit-area">
          <%= f.submit "変更する", class: "btn btn-md btn-primary" %>
          <%= link_to "ログイン画面へ", login_path, class: "btn btn-md btn-default" %>
        </div>
      <% end %>
    <% else %>
      <%= form_with(url: reset_password_users_path, method: :get, local: true) do |f| %>
          
        <%= f.label :"メールアドレス", class: "label-reset-password" %>
        <%= f.email_field :email, class: "form-control required", id: "email", required: true %>
        
        <%= f.label :"秘密の質問", class: "label-reset-password" %>
        <%= f.select :question, $questions, {}, class: "form-control" %>
        
        <%= f.label :"回答", class: "label-reset-password" %>
        <%= f.text_field :answer, placeholder: "20文字以内、スペースなし", class: "form-control required", id: "answer" %>
        
        <div class="user-submit-area">
          <%= f.submit "アカウント検索", class: "btn btn-md btn-primary", id: "search-account-btn" %>
          <%= link_to :back do %>
            <button class="btn btn-md btn-default">戻る</button>
          <% end %>
        </div>
      <% end %>
      
      <script>
        $(function() {
          $('#search-account-btn').attr('disabled', 'disabled');
          $('.required').change(function () {
            var answer = $('#answer').val()
            var answer_count = $('#answer').val().length;
            if (!answer.match(" ") & !answer.match("　") && 1 <= answer_count && answer_count <= 20) {
              $('#search-account-btn').removeAttr('disabled');
            } else {
              $('#search-account-btn').attr('disabled', 'disabled');
            }
          });
        });
      </script>
    <% end %>
  </div>
</div>