<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h1>アカウント情報</h1>
    <table class="table table-bordered table-condensed" id="user-table">
      <thead>
        <tr>
          <th width=50%>名前</th>
          <td width=50%><%= @user.name %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>秘密の質問</th>
          <td><%= @user.question %></td>
        </tr>
        <tr>
          <th>回答</th>
          <td><%= @user.answer %></td>
        </tr>
        <% if @user.complete_register.present? %>
          <tr>
            <th>登録完了日</th>
            <td><%= @user.complete_register.strftime("%Y年%m月%d日") %></td>
          </tr>
          <tr>
            <th>無料お試し期限</th>
            <td><%= @user.complete_register.next_day(30).strftime("%Y年%m月%d日") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="to-user-edit">
      <%= link_to "編集する", edit_user_path(@user), class: "btn btn-md btn-primary" %>
      <%= link_to "アカウントを削除", user_path(@user), method: :delete, class: "btn btn-md btn-danger",
          data: { confirm: "#{@user.name}に関する全データを削除してよろしいですか？" } %>
      <%= link_to :back do %>
        <button class="btn btn-md btn-default">戻る</button>
      <% end %>
    </div>
  </div>
</div>

<div><%= link_to "カード情報入力画面へ", new_payment_user_path(@user), class: "btn btn-md btn-primary" %></div>