<% provide(:title, @user.name) %>

<h1>アカウント情報</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-condensed" id="user-table">
      <thead>
        <tr>
          <th>名前</th>
          <td><%= @user.name %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
    <div class="to-user-edit">
      <%= link_to "編集する", edit_user_path(@user), class: "btn btn-md btn-primary" %>
      <%= link_to "アカウントを削除", user_path(@user), method: :delete, class: "btn btn-md btn-danger",
          data: { confirm: "#{@user.name}に関する全データを削除してよろしいですか？" } %>
      <%= link_to :back do %>
        <button class="btn btn-md btn-default">戻る</button>
      <% end %>
    </div>
  </div>
</div>