<%= form_with(model: @client, url: yield(:url), local: true) do |f| %>
  <%= render 'shared/error_messages', object: @client %>
  
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <%= f.label :name, "顧客名 ※必須", class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.text_field :name, value: params[:client][:name], maxlength: 30, class: "form-control" %>
      <% else %>
        <%= f.text_field :name, maxlength: 30, class: "form-control" %>
      <% end %>
    </div>
    
    <div class="col-xs-6 col-md-6">
      <%= f.label :"フリガナ ※必須", class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.text_field :kana, value: params[:client][:kana], maxlength: 30, class: "form-control" %>
      <% else %>
        <%= f.text_field :kana, placeholder: "全角カタカナ", maxlength: 30, class: "form-control" %>
      <% end %>
    </div>

    <div class="col-xs-9 form-zip-left">
      <%= f.label "住所検索", class: "label-#{yield(:class_text)}" %>
      <% if @zipcode %>
        <%= f.text_field :zipcode, value: @zipcode, maxlength: 8, class: "form-control", placeholder: "郵便番号を入力" %>
      <% else %>
        <%= f.text_field :zipcode, maxlength: 8, class: "form-control", placeholder: "郵便番号を入力" %>
      <% end %>
    </div>
    <div class="col-xs-3 form-zip-right">
      <%= f.submit "検索", name: "zip_search_button", class: "btn btn-md btn-primary btn-block" %>
    </div>
  
    <div class="col-xs-12 col-md-12">
      <%= f.label :address, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] && @zipcode %>
        <%= f.text_field :address, value: @result_address, maxlength: 50, class: "form-control" %>
      <% elsif params[:client] %>
        <%= f.text_field :address, value: params[:client][:address], maxlength: 50, class: "form-control" %>
      <% else %>
        <%= f.text_field :address, maxlength: 50, class: "form-control" %>
      <% end %>
    </div>
  
    <div class="col-xs-6 col-md-6">
      <%= f.label :tel_1, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.telephone_field :tel_1, value: params[:client][:tel_1], maxlength: 11, class: "form-control" %>
      <% else %>
        <%= f.telephone_field :tel_1, maxlength: 11, class: "form-control" %>
      <% end %>
    </div>
    
    <div class="col-xs-6 col-md-6"> 
      <%= f.label :tel_2, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.telephone_field :tel_2, value: params[:client][:tel_2], maxlength: 11, class: "form-control" %>
      <% else %>
        <%= f.telephone_field :tel_2, maxlength: 11, class: "form-control" %>
      <% end %>
    </div>
  
    <div class="col-xs-12 col-md-12"> 
      <%= f.label :fax, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.telephone_field :fax, value: params[:client][:fax], maxlength: 10, class: "form-control" %>
      <% else %>
        <%= f.telephone_field :fax, maxlength: 10, class: "form-control" %>
      <% end %>
    </div>
  
    <div class="col-xs-12 col-md-12"> 
      <%= f.label :email, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.email_field :email, value: params[:client][:email], maxlength: 254, class: "form-control" %>
      <% else %>
        <%= f.email_field :email, maxlength: 254, class: "form-control" %>
      <% end %>
    </div>

    <div class="col-xs-12 col-md-8">
      <%= f.label :"生年月日", class: "label-#{yield(:class_text)}" %>
      <div class="row">
        <div class="col-xs-3 col-md-3 year-form">
          <% if params[:client] %>
            <%= f.date_select(:birth_year,
                              {include_blank: true, selected: Date.new(params[:client]["birth_year(1i)"].to_i,1,1),
                              start_year: Date.current.year, end_year: Date.current.year - 100,
                              discard_month: true}, {class: "form-control"}
                              ) %>
          <% else %>
            <%= f.date_select(:birth_year,
                              {include_blank: true, start_year: Date.current.year,
                              end_year: Date.current.year - 100,discard_month: true}, {class: "form-control"}
                              ) %>
          <% end %>
        </div>
        <div class="col-xs-1 col-md-1 year-string">年</div>
        
        <div class="col-xs-3 col-md-3 month-form">
          <% if params[:client] && !params[:client][:birth_month].nil? %>
            <%= f.select :birth_month, options_for_select({"1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "6": 6,
                                                           "7": 7, "8": 8, "9": 9, "10": 10, "11": 11,"12": 12},
                params[:client][:birth_month]),
                {include_blank: true}, class: "form-control" %>
          <% elsif @client.birth_month.present? %>
            <%= f.select :birth_month, options_for_select({"1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "6": 6,
                                                           "7": 7, "8": 8, "9": 9, "10": 10, "11": 11, "12": 12},
                selected: @client.birth_month),
                {include_blank: true}, class: "form-control" %>
          <% else %>
            <%= f.select :birth_month, options_for_select({"1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "6": 6,
                                                           "7": 7, "8": 8, "9": 9, "10": 10, "11": 11, "12": 12}),
                {include_blank: true}, class: "form-control" %>
          <% end %>
        </div>
        <div class="col-xs-1 col-md-1 month-string">月</div>
        
        <div class="col-xs-3 col-md-3 day-form">
          <% if params[:client] && !params[:client][:birth_day].nil? %>
            <%= f.select :birth_day, options_for_select({"1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "6": 6,
                                                          "7": 7, "8": 8, "9": 9, "10": 10, "11": 11,
                                                          "12": 12, "13": 13, "14": 14, "15": 15, "16": 16,
                                                          "17": 17, "18": 18, "19": 19, "20": 20, "21": 21,
                                                          "22": 22, "23": 23, "24": 24, "25": 25, "26": 26,
                                                          "27": 27, "28": 28, "29": 29, "30": 30, "31": 31},
                params[:client][:birth_day]),
                {include_blank: true}, class: "form-control" %>
          <% elsif @client.birth_day.present? %>
            <%= f.select :birth_day, options_for_select({"1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "6": 6,
                                                          "7": 7, "8": 8, "9": 9, "10": 10, "11": 11,
                                                          "12": 12, "13": 13, "14": 14, "15": 15, "16": 16,
                                                          "17": 17, "18": 18, "19": 19, "20": 20, "21": 21,
                                                          "22": 22, "23": 23, "24": 24, "25": 25, "26": 26,
                                                          "27": 27, "28": 28, "29": 29, "30": 30, "31": 31},
                @client.birth_day),
                {include_blank: true}, class: "form-control" %>
          <% else %>
            <%= f.select :birth_day, options_for_select({"1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "6": 6,
                                                          "7": 7, "8": 8, "9": 9, "10": 10, "11": 11,
                                                          "12": 12, "13": 13, "14": 14, "15": 15, "16": 16,
                                                          "17": 17, "18": 18, "19": 19, "20": 20, "21": 21,
                                                          "22": 22, "23": 23, "24": 24, "25": 25, "26": 26,
                                                          "27": 27, "28": 28, "29": 29, "30": 30, "31": 31}),
                {include_blank: true}, class: "form-control" %>
          <% end %>
        </div>
        <div class="col-xs-1 col-md-1 day-string">日</div>
      </div>
    </div>

    <div class="col-xs-6 col-md-6">
      <%= f.label :work, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.text_field :work, value: params[:client][:work], maxlength: 20, class: "form-control" %>
      <% else %>
        <%= f.text_field :work, maxlength: 20, class: "form-control" %>
      <% end %>
    </div>
  
    <div class="col-xs-6 col-md-6">
      <%= f.label :note, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.text_field :note, value: params[:client][:note], maxlength: 100, class: "form-control" %>
      <% else %>
        <%= f.text_field :note, maxlength: 100, class: "form-control" %>
      <% end %>
    </div>
  </div>
  
  <div class="client-submit-area">
    <%= f.submit yield(:button_text), class: "btn btn-md btn-primary" %>
    <%= link_to :back do %>
      <button class="btn btn-md btn-default">戻る</button>
    <% end %>
  </div>
<% end %>