<%= form_with(model: @client, url: yield(:url), local: true) do |f| %>
  <%= render 'shared/error_messages', object: @client %>
  
  <%= f.label :name, class: "label-#{yield(:class_text)}" %>
  <% if params[:client] %>
    <%= f.text_field :name, value: params[:client][:name], class: "form-control" %>
  <% else %>
    <%= f.text_field :name, class: "form-control" %>
  <% end %>
  
  <div class="row">
    <div class="col-xs-9 form-zip-left">
      <%= f.label "住所検索", class: "label-#{yield(:class_text)}" %>
      <% if @zipcode %>
        <%= f.text_field :zipcode, value: @zipcode, class: "form-control", placeholder: "郵便番号を入力" %>
      <% else %>
        <%= f.text_field :zipcode, class: "form-control", placeholder: "郵便番号を入力" %>
      <% end %>
    </div>
    <div class="col-xs-3 form-zip-right">
      <%= f.submit "検索", name: "zip_search_button", class: "btn btn-md btn-primary btn-block" %>
    </div>
  </div>
  
  <%= f.label :address, class: "label-#{yield(:class_text)}" %>
  <% if params[:client] %>
    <% if @zipcode %>
      <%= f.text_field :address, value: @result_address, class: "form-control" %>
    <% else %>
      <%= f.text_field :address, value: params[:client][:address], class: "form-control" %>
    <% end %>
  <% else %>
    <%= f.text_field :address, class: "form-control" %>
  <% end %>
  
  <%= f.label :tel_1, class: "label-#{yield(:class_text)}" %>
  <% if params[:client] %>
    <%= f.telephone_field :tel_1, value: params[:client][:tel_1], class: "form-control" %>
  <% else %>
    <%= f.telephone_field :tel_1, class: "form-control" %>
  <% end %>
  
  <%= f.label :tel_2, class: "label-#{yield(:class_text)}" %>
  <% if params[:client] %>
    <%= f.telephone_field :tel_2, value: params[:client][:tel_2], class: "form-control" %>
  <% else %>
    <%= f.telephone_field :tel_2, class: "form-control" %>
  <% end %>
  
  <%= f.label :fax, class: "label-#{yield(:class_text)}" %>
  <% if params[:client] %>
    <%= f.telephone_field :fax, value: params[:client][:fax], class: "form-control" %>
  <% else %>
    <%= f.telephone_field :fax, class: "form-control" %>
  <% end %>
  
  <%= f.label :email, class: "label-#{yield(:class_text)}" %>
  <% if params[:client] %>
    <%= f.email_field :email, value: params[:client][:email], class: "form-control" %>
  <% else %>
    <%= f.email_field :email, class: "form-control" %>
  <% end %>
  
  <%= f.label :work, class: "label-#{yield(:class_text)}" %>
  <% if params[:client] %>
    <%= f.text_field :work, value: params[:client][:work], class: "form-control" %>
  <% else %>
    <%= f.text_field :work, class: "form-control" %>
  <% end %>
  
  <%= f.label :"生年月日", class: "label-#{yield(:class_text)}" %>
  <div class="form-inline">
  <% if params[:client] && params[:client]["birth_year(1i)"].present? %>
    <%= f.date_select(:birth_year,{
          discard_month: true, start_year: Date.current.year,
          end_yaer: 1900, default: Date.new(params[:client]["birth_year(1i)"].to_i, 1, 1)
        }, {class: "form-control birth-input"})  %>
  <% else %>
    <%= f.date_select(:birth_year,{
          discard_month: true, start_year: Date.current.year, end_yaer: 1900, prompt: "--"
        }, {class: "form-control birth-input"}) %>
  <% end %>
  年
   <% if params[:client] && params[:client]["birth_year(1i)"].present? %>
    <%= f.date_select(:birth_year,{
          discard_month: true, start_year: Date.current.year,
          end_yaer: 1900, default: Date.new(params[:client]["birth_year(1i)"].to_i, 1, 1)
        }, {class: "form-control birth-input"})  %>
  <% else %>
    <%= f.date_select(:birth_year,{
          discard_month: true, start_year: Date.current.year, end_yaer: 1900, prompt: "--"
        }, {class: "form-control birth-input"}) %>
  <% end %>
  月
  <% if params[:client] && params[:client]["birth_year(1i)"].present? %>
    <%= f.date_select(:birth_year,{
          discard_month: true, start_year: Date.current.year,
          end_yaer: 1900, default: Date.new(params[:client]["birth_year(1i)"].to_i, 1, 1)
        }, {class: "form-control birth-input"})  %>
  <% else %>
    <%= f.date_select(:birth_day,{
          discard_month: true, prompt: "--"
        }, {class: "form-control birth-input"}) %>
  <% end %>
  日
  </div>
  
  <%= f.label :note, class: "label-#{yield(:class_text)}" %>
  <% if params[:client] %>
    <%= f.text_field :note, value: params[:client][:note], class: "form-control" %>
  <% else %>
    <%= f.text_field :note, class: "form-control" %>
  <% end %>
  
  <%= f.hidden_field :user_id, value: @user.id %>
  
  <div class="client-submit-area">
      <%= f.submit yield(:button_text), class: "btn btn-md btn-primary" %>
      <%= link_to :back do %>
        <button class="btn btn-md btn-default">戻る</button>
      <% end %>
  </div>
<% end %>