<%= form_with(model: @client, url: yield(:url), local: true) do |f| %>
  <%= render 'shared/error_messages', object: @client %>
  
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <%= f.label :name, class: "label-#{yield(:class_text)} required-form" %>
      <% if params[:client] %>
        <%= f.text_field :name, value: params[:client][:name], maxlength: 30, class: "form-control", required: "required" %>
      <% else %>
        <%= f.text_field :name, maxlength: 30, class: "form-control", required: "required" %>
      <% end %>
      <div class="form-alert name-alert">顧客名を入力してください。</div>
    </div>
    
    <div class="col-xs-6 col-md-6">
      <%= f.label :kana, class: "label-#{yield(:class_text)} required-form" %>
      <% if params[:client] %>
        <%= f.text_field :kana, value: params[:client][:kana], maxlength: 30, class: "form-control", required: "required" %>
      <% else %>
        <%= f.text_field :kana, placeholder: "全角カタカナ", maxlength: 30, class: "form-control", required: "required" %>
      <% end %>
      <div class="form-alert kana-alert">全角カタカナで入力してください。</div>
    </div>

    <div class="col-xs-9 form-zip-left">
      <%= f.label :zipcode, "住所検索", class: "label-#{yield(:class_text)}" %>
      <% if @zipcode %>
        <%= f.text_field :zipcode, value: @zipcode, maxlength: 8, class: "form-control", placeholder: "郵便番号を入力" %>
      <% else %>
        <%= f.text_field :zipcode, maxlength: 8, class: "form-control", placeholder: "郵便番号を入力" %>
      <% end %>
    </div>
    <div class="col-xs-3 form-zip-right">
      <%= f.submit "検索", name: "zip_search_button", class: "btn btn-md btn-primary btn-block" %>
    </div>
  
    <div class="col-xs-12 col-md-12">
      <%= f.label :address, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] && @zipcode %>
        <%= f.text_field :address, value: @result_address, maxlength: 50, class: "form-control" %>
      <% elsif params[:client] %>
        <%= f.text_field :address, value: params[:client][:address], maxlength: 50, class: "form-control" %>
      <% else %>
        <%= f.text_field :address, maxlength: 50, class: "form-control" %>
      <% end %>
    </div>
  
    <div class="col-xs-6 col-md-6">
      <%= f.label :tel_1, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.telephone_field :tel_1, value: params[:client][:tel_1], maxlength: 11, class: "form-control", placeholder: "半角数字10~11桁" %>
      <% else %>
        <%= f.telephone_field :tel_1, maxlength: 11, class: "form-control", placeholder: "半角数字10~11桁" %>
      <% end %>
      <div class="form-alert tel1-alert">電話番号形式で入力してください。</div>
    </div>
    
    <div class="col-xs-6 col-md-6"> 
      <%= f.label :tel_2, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.telephone_field :tel_2, value: params[:client][:tel_2], maxlength: 11, class: "form-control", placeholder: "半角数字10~11桁" %>
      <% else %>
        <%= f.telephone_field :tel_2, maxlength: 11, class: "form-control", placeholder: "半角数字10~11桁" %>
      <% end %>
      <div class="form-alert tel2-alert">電話番号形式で入力してください。</div>
    </div>
  
    <div class="col-xs-12 col-md-12"> 
      <%= f.label :fax, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.telephone_field :fax, value: params[:client][:fax], maxlength: 10, class: "form-control", placeholder: "半角数字10桁" %>
      <% else %>
        <%= f.telephone_field :fax, maxlength: 10, class: "form-control", placeholder: "半角数字10桁" %>
      <% end %>
      <div class="form-alert fax-alert">FAX番号形式で入力してください。</div>
    </div>
  
    <div class="col-xs-12 col-md-12"> 
      <%= f.label :email, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.text_field :email, value: params[:client][:email], maxlength: 254, class: "form-control", placeholder: "example@email.com" %>
      <% else %>
        <%= f.text_field :email, maxlength: 254, class: "form-control", placeholder: "example@email.com" %>
      <% end %>
      <div class="form-alert email-alert">メールアドレス形式で入力してください。</div>
    </div>

    <div class="col-xs-12 col-md-8">
      <%= f.label :"生年月日", class: "label-#{yield(:class_text)}" %>
      <div class="row">
        <div class="col-xs-3 col-md-3 year-form">
          <% if params[:client] %>
            <%= f.date_select(:birth_year,
                              {include_blank: true, selected: Date.new(params[:client]["birth_year(1i)"].to_i,1,1),
                              start_year: Date.current.year, end_year: Date.current.year - 100,
                              discard_month: true}, {class: "form-control"}
                              ) %>
          <% else %>
            <%= f.date_select(:birth_year,
                              {include_blank: true, start_year: Date.current.year,
                              end_year: Date.current.year - 100,discard_month: true}, {class: "form-control"}
                              ) %>
          <% end %>
        </div>
        <div class="col-xs-1 col-md-1 year-string">年</div>
        
        <div class="col-xs-3 col-md-3 month-form">
          <% if params[:client] && !params[:client][:birth_month].nil? %>
            <%= f.select :birth_month, options_for_select($birth_months, params[:client][:birth_month]), {include_blank: true}, class: "form-control" %>
          <% elsif @client.birth_month.present? %>
            <%= f.select :birth_month, options_for_select($birth_months, selected: @client.birth_month), {include_blank: true}, class: "form-control" %>
          <% else %>
            <%= f.select :birth_month, options_for_select($birth_months), {include_blank: true}, class: "form-control" %>
          <% end %>
        </div>
        <div class="col-xs-1 col-md-1 month-string">月</div>
        
        <div class="col-xs-3 col-md-3 day-form">
          <% if params[:client] && !params[:client][:birth_day].nil? %>
            <%= f.select :birth_day, options_for_select($birth_days, params[:client][:birth_day]), {include_blank: true}, class: "form-control" %>
          <% elsif @client.birth_day.present? %>
            <%= f.select :birth_day, options_for_select($birth_days, @client.birth_day), {include_blank: true}, class: "form-control" %>
          <% else %>
            <%= f.select :birth_day, options_for_select($birth_days), {include_blank: true}, class: "form-control" %>
          <% end %>
        </div>
        <div class="col-xs-1 col-md-1 day-string">日</div>
      </div>
    </div>

    <div class="col-xs-6 col-md-6">
      <%= f.label :work, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.text_field :work, value: params[:client][:work], maxlength: 20, class: "form-control" %>
      <% else %>
        <%= f.text_field :work, maxlength: 20, class: "form-control" %>
      <% end %>
    </div>
  
    <div class="col-xs-6 col-md-6">
      <%= f.label :note, class: "label-#{yield(:class_text)}" %>
      <% if params[:client] %>
        <%= f.text_field :note, value: params[:client][:note], maxlength: 100, class: "form-control" %>
      <% else %>
        <%= f.text_field :note, maxlength: 100, class: "form-control" %>
      <% end %>
    </div>
  </div>
  
  <div class="client-submit-area">
    <%= f.submit yield(:button_text), class: "btn btn-md btn-primary", id: "client-submit" %>
    <%= link_to :back do %>
      <button class="btn btn-md btn-default">戻る</button>
    <% end %>
  </div>
<% end %>

<script>

$(document).on('turbolinks:load', function() {

  // フォームのバリデーション
  
  const name = $('input[name="client[name]"]');
  const kana = $('input[name="client[kana]"]');
  const tel_1 = $('input[name="client[tel_1]"]');
  const tel_2 = $('input[name="client[tel_2]"]');
  const fax = $('input[name="client[fax]"]');
  const email = $('input[name="client[email]"]');
  
  function nameChecker() {
    if(!name.val() || name.val().match(/^[ 　\r\n\t]*$/)) {
      $('.name-alert').css('display', 'block');
    } else {
      $('.name-alert').css('display', 'none');
    }
  };
  
  function kanaChecker() {
    if(!kana.val().match(/^[ 　\r\n\t]*$/) && kana.val().match(/^[ァ-ヶー　]+$/)) {
      $('.kana-alert').css('display', 'none');
    } else {
      $('.kana-alert').css('display', 'block');
    }
  };
  
  function tel1Checker() {
    if(!tel_1.val() || tel_1.val().match(/^[ 　\r\n\t]*$/) || tel_1.val().match(/^\d{10,11}$/)) {
      $('.tel1-alert').css('display', 'none');
    } else {
      $('.tel1-alert').css('display', 'block');
    }
  };
  
  function tel2Checker() {
    if(!tel_2.val() || tel_2.val().match(/^[ 　\r\n\t]*$/) || tel_2.val().match(/^\d{10,11}$/)) {
      $('.tel2-alert').css('display', 'none');
    } else {
      $('.tel2-alert').css('display', 'block');
    }
  };
  
  function faxChecker() {
    if(!fax.val() || fax.val().match(/^[ 　\r\n\t]*$/) || fax.val().match(/^\d{10}$/)) {
      $('.fax-alert').css('display', 'none');
    } else {
      $('.fax-alert').css('display', 'block');
    }
  };
  
  function emailChecker() {
    if(!email.val() || email.val().match(/^[ 　\r\n\t]*$/) || email.val().match(/^[\w+\-.]+@[a-z\d\-.]+\.[a-z]+$/)) {
      $('.email-alert').css('display', 'none');
    } else {
      $('.email-alert').css('display', 'block');
    }
  }
  
  $(name).blur(function() {
    nameChecker();
  });
  
  $(kana).blur(function() {
    kanaChecker();
  });
  
  $(tel_1).blur(function() {
    tel1Checker();
  });
  
  $(tel_2).blur(function() {
    tel2Checker();
  });
  
  $(fax).blur(function() {
    faxChecker();
  });
  
  $(email).blur(function() {
    emailChecker();
  });
  
  $('#client-submit').on('click', function() {
    nameChecker();
    kanaChecker();
    tel1Checker();
    tel2Checker();
    faxChecker();
    emailChecker();
    $('.form-alert').each(function() {
      if($(this).css('display') == 'block') {
        event.preventDefault();
      }
    });
  });
  
  // 郵便番号検索時はrequired削除
  
  $('input[name="zip_search_button"]').on('click', function() {
    $('input[name="client[name]"]').removeAttr("required");
    $('input[name="client[kana]"]').removeAttr("required");
  });

});

</script>