<% provide(:title, "All Clients") %>
<% provide(:search_url, user_clients_path(@user)) %>
<% provide(:search_title, "顧客検索") %>

<h1><%= "#{@user.name}様の顧客情報一覧" %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "shared/search" %>
    <%= will_paginate %>
    <table class="table table-bordered table-condensed table-hover" id="user-clients-table">
      <thead>
        <tr>
          <td><%= link_to "新規顧客登録", new_user_client_path(@user), class: "btn btn-sm btn-primary" %></td>
          <th>電話番号(1)</th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= link_to client.name, user_client_path(@user, client) %></td>
            <td><%= client.tel_1 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
</div>