<% provide(:title, "All Clients") %>
<% provide(:search_url, user_clients_path(@user)) %>
<% provide(:search_title, "キーワード検索") %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <% if params[:search].present? %>
      <h1>"<%= params[:search] %>"の検索結果</h1>
    <% elsif params[:search_birth].present? %>
      <h1><%= params[:search_birth] %>月の検索結果</h1>
    <% else %>
      <h1>顧客情報一覧</h1>
    <% end %>
    
    <div class="row search-area">
      <div class="col-xs-6 col-md-5">
        <div class="row">
          <%= form_with url: yield(:search_url), method: :get, local: true do |f| %>
            <p class="search-birth-tilte">誕生月で検索</p>
            <div class="col-xs-8 search-birth-left">
              <%= f.select :search_birth, options_for_select(
                    {"1月": 1, "2月": 2, "3月": 3, "4月": 4, "5月": 5, "6月": 6, "7月": 7, "8月": 8,
                     "9月": 9, "10月": 10, "11月": 11, "12月": 12}), {prompt: "誕生月を選択"}, class: "form-control" %>
            </div>
            <div class="col-xs-4 search-birth-right">
              <%= f.submit "検索", class: "btn btn-md btn-block btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6 col-md-5 col-md-offset-2"><%= render 'shared/search' %></div>
    </div>
    
    <% if @clients.count == 0 %>
    
      <div class="no-client-msg">
        <h1>登録がありません</h1>
        <%= link_to "新規顧客登録", new_user_client_path(@user), class: "btn btn-lg btn-primary" %>
      </div>
      
    <% else %>
      
      <%= link_to "新規顧客登録", new_user_client_path(@user), class: "btn btn-md btn-primary" %>
      
      <%= will_paginate %>
      <table class="table table-bordered table-condensed table-hover" id="user-clients-table">
        <thead>
          <tr>
            <th width=30%>顧客名</td>
            <th width=30%><%= params[:search_birth].present? ? "生年月日" : "電話番号" %></th>
            <th width=40%>住所</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
            <tr class="hover" data-href="<%= user_client_path(@user, client) %>">
              <td><%= client.name %></td>
              <td>
                <% if params[:search_birth].present? %>
                  <%= client.birth_year.present? ? client.birth_year.year : "--" %>年<%= client.birth_month.present? ? client.birth_month : "--" %>月<%= client.birth_day.present? ? client.birth_day : "--" %>日
                <% else %>
                  <%= client.tel_1 %>
                <% end %>
              </td>
              <td><%= client.address %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate %>
    <% end %>
  </div>
</div>

<%= render 'shared/tr_link_jq' %>