<% provide(:title, @client.name) %>

<h1>顧客詳細情報</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-condensed" id="client-table">
      <tr>
        <th>顧客名</th>
        <td><%= @client.name %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @client.address %></td>
      </tr>
      <tr>
        <th>電話番号(1)</th>
        <td><%= @client.tel_1 %></td>
      </tr>
      <tr>
        <th>電話番号(2)</th>
        <td><%= @client.tel_2 %></td>
      </tr>
      <tr>
        <th>FAX番号</th>
        <td><%= @client.fax %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @client.email %></td>
      </tr>
      <tr>
        <th>職業</th>
        <td><%= @client.work %></td>
      </tr>
      <tr>
        <th>生年月日</th>
        <td>
          <%= @client.birth_year.present? ? @client.birth_year.year : "--" %>年
          <%= @client.birth_month.present? ? @client.birth_month : "--" %>月
          <%= @client.birth_day.present? ? @client.birth_day : "--" %>日
        </td>
      </tr>
      <tr>
        <th>備考</th>
        <td><%= @client.note %></td>
      </tr>
    </table>
    
    <div class="client-show-btn-area">
      <%= link_to "顧客情報を編集", edit_user_client_path(@user, @client), class: "btn btn-md btn-primary" %>
      <%= link_to "削除", user_client_path(@user, @client), method: :delete,
          class: "btn btn-md btn-danger", data: { confirm: "#{@client.name}を削除してよろしいですか？" } %>
      <%= link_to :back do %>
        <button class="btn btn-md btn-default">戻る</button>
      <% end %>
    </div>
    <% if params[:history] == "display" %>
      <div class="btn-history">
        <%= link_to "オーダー履歴を非表示", user_client_path(@user, @client), class: "btn btn-lg btn-primary" %>
      </div>
        <%= will_paginate %>
        <table class="table table-bordered table-condensed table-hover" id="history-table">
          <thead>
            <tr>
              <th></th>
              <th>受注日</th>
              <th>売上日</th>
              <th>上代</th>
            </tr>
          </thead>
          <tbody>
            <% @histories.each do |history| %>
              <tr>
                <td><%= link_to "詳細", user_order_path(@user, history),class: "btn btn-sm btn-primary" %></td>
                <td><%= l(history.order_date, format: :long) %></td>
                <td><%= l(history.sales_date, format: :long) if history.sales_date.present? %></td>
                <td><%= history.retail %>円</td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate %>
    <% else %>
      <div class="btn-history">
        <%= link_to "オーダー履歴を表示", user_client_path(@user, @client, history: "display"),
            class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>
</div>