<%= form_with(model: @order, url: yield(:url), local: true) do |f| %>
  <%= render "shared/error_messages", object: @order %>
  
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-xs-6">
          <%= f.label :client_id, class: "label-#{yield(:class_text)} required-form" %>
          <%= f.collection_select(:client_id, @clients.order(:kana), :id, :name, {prompt: "顧客を選択"}, {class: "form-control"}) %>
          <div class="form-alert client-id-alert">顧客選択必須</div>
        </div>
        
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-8 narrow-client-left">
              <%= f.label :narrow, "顧客を絞り込む", class: "label-#{yield(:class_text)}" %>
              <% if params[:order] && params[:order][:narrow].present? %>
                <%= f.text_field :narrow, value: params[:order][:narrow], class: "form-control" %>
              <% else %>
                <%= f.text_field :narrow, class: "form-control", placeholder: "キーワードを入力" %>
              <% end %>
            </div>
            <div class="col-xs-4 narrow-client-right">
              <%= f.submit "検索", name: "narrow_client_button", class: "btn btn-md btn-primary btn-block" %>
            </div>
          </div>
        </div> 
      </div>
    
      <div class="row">
        <div class="col-xs-6">
          <%= f.label :kind, class: "label-#{yield(:class_text)} required-form" %>
          <% if params[:order] && params[:order][:kind].present? %>
            <%= f.select :kind, options_for_select($order_kinds, params[:order][:kind]), {}, class: "form-control" %>
          <% else %>
            <%= f.select :kind, options_for_select($order_kinds, @order.kind), {prompt: "タイプを選択"}, class: "form-control" %>
          <% end %>
          <div class="form-alert kind-alert">タイプ選択必須</div>
        </div>
        
        <div class="col-xs-6">
          <%= f.label :plant_id, class: "label-#{yield(:class_text)} required-form" %>
          <% if params[:order] && params[:order][:plant_id].present? %>
            <%= f.collection_select(:plant_id, @plants, :id, :name, {selected: params[:order][:plant_id]}, {class: "form-control"}) %>
          <% else %>
            <%= f.collection_select(:plant_id, @plants, :id, :name, {prompt: "工場を選択"}, {class: "form-control"}) %>
          <% end %>
          <div class="form-alert plant-id-alert">工場選択必須</div>
        </div>
      </div>
      
      <div class="row">
        <form name="f1">
          <div class="col-xs-6">
            <%= f.label :retail, "上代 (円)", class: "label-#{yield(:class_text)} required-form" %>
            <% if params[:order] %>
              <%= f.text_field :retail, maxlength: 7, value: params[:order][:retail], class: "form-control", id: "retail" %>
            <% else %>
              <%= f.text_field :retail, maxlength: 7, class: "form-control", id: "retail" %>
            <% end %>
            <div class="form-alert retail-alert">数値入力必須</div>
          </div>
          
          <div class="col-xs-6">
            <div class="row">
              <div class="col-xs-12"><%= f.label :deposit, "受領済金額 (円)", class: "label-#{yield(:class_text)}" %></div>
              <div class="col-xs-8 deposit-form-left">
                <% if params[:order] %>
                  <%= f.text_field :deposit, maxlength: 7, value: params[:order][:deposit], class: "form-control", id: "deposit" %>
                <% else %>
                  <%= f.text_field :deposit, maxlength: 7, class: "form-control", id: "deposit" %>
                <% end %>
              </div>
              <div class="col-xs-4 deposit-form-right">
                <input value="全額" type="button" id="copy-retail">
              </div>
            </div>
          </div>
        </form>
      </div>
      
      <div class="row">
        <div class="col-xs-4">
          <%= f.label :ordered_on, class: "label-#{yield(:class_text)} required-form" %>
          <% if params[:order] && params[:order][:ordered_on].present? %>
            <%= f.text_field :ordered_on, maxlength: 10, placeholder: "年/月/日", value: params[:order][:ordered_on], class: "datepicker form-control" %>
          <% elsif @order.ordered_on.present? %>
            <%= f.text_field :ordered_on, maxlength: 10, placeholder: "年/月/日", value: @order.ordered_on.strftime("%Y/%m/%d"), class: "datepicker form-control" %>
          <% else %>
            <%= f.text_field :ordered_on, maxlength: 10, placeholder: "年/月/日", class: "datepicker form-control" %>
          <% end %>
          <div class="form-alert ordered-on-alert">日付必須</div>
        </div>
        
        <div class="col-xs-4">
          <%= f.label :sold_on, class: "label-#{yield(:class_text)}" %>
          <% if params[:order] && params[:order][:sold_on].present? %>
            <%= f.text_field :sold_on, maxlength: 10, placeholder: "年/月/日", value: params[:order][:sold_on], class: "datepicker form-control" %>
          <% elsif @order.sold_on.present? %>
            <%= f.text_field :sold_on, maxlength: 10, placeholder: "年/月/日", value: @order.sold_on.strftime("%Y/%m/%d"), class: "datepicker form-control" %>
          <% else %>
            <%= f.text_field :sold_on, maxlength: 10, placeholder: "年/月/日", class: "datepicker form-control" %>
          <% end %>
          <div class="form-alert sold-on-alert">日付入力</div>
        </div>
        
        <div class="col-xs-4">
          <%= f.label :delivered_on, class: "label-#{yield(:class_text)}" %>
          <% if params[:order] && params[:order][:delivered_on].present? %>
            <%= f.text_field :delivered_on, maxlength: 10, placeholder: "年/月/日", value: params[:order][:delivered_on], class: "datepicker form-control" %>
          <% elsif @order.delivered_on.present? %>
            <%= f.text_field :delivered_on, maxlength: 10, placeholder: "年/月/日", value: @order.delivered_on.strftime("%Y/%m/%d"), class: "datepicker form-control" %>
          <% else %>
            <%= f.text_field :delivered_on, maxlength: 10, placeholder: "年/月/日", class: "datepicker form-control" %>
          <% end %>
          <div class="form-alert delivered-on-alert">日付入力</div>
        </div>
        
        <div class="col-xs-12">
          <%= f.label :note, class: "label-#{yield(:class_text)}" %>
          <% if params[:order] %>
            <%= f.text_field :note, maxlength: 100, value: params[:order][:note], class: "form-control" %>
          <% else %>
            <%= f.text_field :note, maxlength: 100, class: "form-control" %>
          <% end %>
        </div>
      </div>
    
      <div class="subtitle-area"><p>費用(円)</p></div>
    
      <div class="row">
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-8 cost-left">
              <%= f.label :wage, class: "label-#{yield(:class_text)}" %>
              <% if params[:order] %>
                <%= f.text_field :wage, maxlength: 7, value: params[:order][:wage], class: "form-control" %>
              <% else %>
                <%= f.text_field :wage, maxlength: 7, class: "form-control" %>
              <% end %>
            </div>
            <div class="col-xs-4 cost-right">
              <%= f.label :"支払済", class: "label-#{yield(:class_text)} payed" %><br>
              <% if params[:order] && params[:order][:wage_pay] == "1" %>
                <%= f.check_box :wage_pay, class: "pay-checkbox", checked: true %>
              <% else %>
                <%= f.check_box :wage_pay, class: "pay-checkbox" %>
              <% end %>
            </div>
          </div> 
        </div>
        
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-8 cost-left">
              <%= f.label :cloth, class: "label-#{yield(:class_text)}" %>
              <% if params[:order] %>
                <%= f.text_field :cloth, maxlength: 7, value: params[:order][:cloth], class: "form-control" %>
              <% else %>
                <%= f.text_field :cloth, maxlength: 7, class: "form-control" %>
              <% end %>
            </div>
            <div class="col-xs-4 cost-right">
              <%= f.label :"支払済", class: "label-#{yield(:class_text)} payed" %><br>
              <% if params[:order] && params[:order][:cloth_pay] == "1" %>
                <%= f.check_box :cloth_pay, class: "pay-checkbox", checked: true %>
              <% else %>
                <%= f.check_box :cloth_pay, class: "pay-checkbox" %>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-8 cost-left">
              <%= f.label :lining, class: "label-#{yield(:class_text)}" %>
              <% if params[:order] %>
                <%= f.text_field :lining, maxlength: 7, value: params[:order][:lining], class: "form-control" %>
              <% else %>
                <%= f.text_field :lining, maxlength: 7, class: "form-control" %>
              <% end %>
            </div>
            <div class="col-xs-4 cost-right">
              <%= f.label :"支払済", class: "label-#{yield(:class_text)} payed" %><br>
              <% if params[:order] && params[:order][:lining_pay] == "1" %>
                <%= f.check_box :lining_pay, class: "pay-checkbox", checked: true %>
              <% else %>
                <%= f.check_box :lining_pay, class: "pay-checkbox" %>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-8 cost-left">
              <%= f.label :button, class: "label-#{yield(:class_text)}" %>
              <% if params[:order] %>
                <%= f.text_field :button, maxlength: 7, value: params[:order][:button], class: "form-control" %>
              <% else %>
                <%= f.text_field :button, maxlength: 7, class: "form-control" %>
              <% end %>
            </div>
            <div class="col-xs-4 cost-right">
              <%= f.label :"支払済", class: "label-#{yield(:class_text)} payed" %><br>
              <% if params[:order] && params[:order][:button_pay] == "1" %>
                <%= f.check_box :button_pay, class: "pay-checkbox", checked: true %>
              <% else %>
                <%= f.check_box :button_pay, class: "pay-checkbox" %>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-8 cost-left">
              <%= f.label :postage, class: "label-#{yield(:class_text)}" %>
              <% if params[:order] %>
                <%= f.text_field :postage, maxlength: 7, value: params[:order][:postage], class: "form-control" %>
              <% else %>
                <%= f.text_field :postage, maxlength: 7, class: "form-control" %>
              <% end %>
            </div>
            <div class="col-xs-4 cost-right">
              <%= f.label :"支払済", class: "label-#{yield(:class_text)} payed" %><br>
              <% if params[:order] && params[:order][:postage_pay] == "1" %>
                <%= f.check_box :postage_pay, class: "pay-checkbox", checked: true %>
              <% else %>
                <%= f.check_box :postage_pay, class: "pay-checkbox" %>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-8 cost-left">
              <%= f.label :other, class: "label-#{yield(:class_text)}" %>
              <% if params[:order] %>
                <%= f.text_field :other, maxlength: 7, value: params[:order][:other], class: "form-control" %>
              <% else %>
                <%= f.text_field :other, maxlength: 7, class: "form-control" %>
              <% end %>
            </div>
            <div class="col-xs-4 cost-right">
              <%= f.label :"支払済", class: "label-#{yield(:class_text)} payed" %><br>
              <% if params[:order] && params[:order][:other_pay] == "1" %>
                <%= f.check_box :other_pay, class: "pay-checkbox", checked: true %>
              <% else %>
                <%= f.check_box :other_pay, class: "pay-checkbox" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    
      <div class="subtitle-area"><p>関連画像</p></div>
    
      <div class="row img-form-item">
        <div class="col-xs-12 img-form-above">
          <div class="img-label-area"><%= f.label :img_1, class: "label-#{yield(:class_text)}" %></div>
          <div class="img-form-area"><%= f.file_field :img_1, class: "file-select" %></div>
        </div>
        <div class="col-xs-12 img-form-below">
          <div class="img-note-area">
            <% if params[:order] %>
              <%= f.text_field :img_1_note, maxlength: 40, value: params[:order][:img_1_note], placeholder: "画像(1)の詳細", class: "form-control" %>
            <% else %>
              <%= f.text_field :img_1_note, maxlength: 40, placeholder: "画像(1)の詳細", class: "form-control" %>
            <% end %>
          </div>
          <div class="img-del-area">
            <% if @order.img_1.attached? && current_page?("/users/#{@user.id}/orders/#{@order.id}/edit") %>
              <%= f.label :"削除", class: "label-#{yield(:class_text)}" %>
              <% if params[:order] && params[:order][:del_img_1] == "1" %>
                <%= f.check_box :del_img_1, checked: true, class: "del-checkbox" %>
              <% else %>
                <%= f.check_box :del_img_1, class: "del-checkbox" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
        
      <div class="row img-form-item">
        <div class="col-xs-12 img-form-above">
          <div class="img-label-area"><%= f.label :img_2, class: "label-#{yield(:class_text)}" %></div>
          <div class="img-form-area"><%= f.file_field :img_2, class: "file-select" %></div>
        </div>
        <div class="col-xs-12 img-form-below">
          <div class="img-note-area">
            <% if params[:order] %>
              <%= f.text_field :img_2_note, maxlength: 40, value: params[:order][:img_2_note], placeholder: "画像(2)の詳細", class: "form-control" %>
            <% else %>
              <%= f.text_field :img_2_note, maxlength: 40, placeholder: "画像(2)の詳細", class: "form-control" %>
            <% end %>
          </div>
          <div class="img-del-area">
            <% if @order.img_2.attached? && current_page?("/users/#{@user.id}/orders/#{@order.id}/edit") %>
              <%= f.label :"削除", class: "label-#{yield(:class_text)}" %>
              <% if params[:order] && params[:order][:del_img_2] == "1" %>
                <%= f.check_box :del_img_2, checked: true, class: "del-checkbox" %>
              <% else %>
                <%= f.check_box :del_img_2, class: "del-checkbox" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
        
      <div class="row img-form-item">
        <div class="col-xs-12 img-form-above">
          <div class="img-label-area"><%= f.label :img_3, class: "label-#{yield(:class_text)}" %></div>
          <div class="img-form-area"><%= f.file_field :img_3, class: "file-select" %></div>
        </div>
        <div class="col-xs-12 img-form-below">
          <div class="img-note-area">
            <% if params[:order] %>
              <%= f.text_field :img_3_note, maxlength: 40, value: params[:order][:img_3_note], placeholder: "画像(3)の詳細", class: "form-control" %>
            <% else %>
              <%= f.text_field :img_3_note, maxlength: 40, placeholder: "画像(3)の詳細", class: "form-control" %>
            <% end %>
          </div>
          <div class="img-del-area">
            <% if @order.img_3.attached? && current_page?("/users/#{@user.id}/orders/#{@order.id}/edit") %>
              <%= f.label :"削除", class: "label-#{yield(:class_text)}" %>
              <% if params[:order] && params[:order][:del_img_3] == "1" %>
                <%= f.check_box :del_img_3, checked: true, class: "del-checkbox" %>
              <% else %>
                <%= f.check_box :del_img_3, class: "del-checkbox" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
        
      <div class="row img-form-item">
        <div class="col-xs-12 img-form-above">
          <div class="img-label-area"><%= f.label :img_4, class: "label-#{yield(:class_text)}" %></div>
          <div class="img-form-area"><%= f.file_field :img_4, class: "file-select" %></div>
        </div>
        <div class="col-xs-12 img-form-below">
          <div class="img-note-area">
            <% if params[:order] %>
              <%= f.text_field :img_4_note, maxlength: 40, value: params[:order][:img_4_note], placeholder: "画像(4)の詳細", class: "form-control" %>
            <% else %>
              <%= f.text_field :img_4_note, maxlength: 40, placeholder: "画像(4)の詳細", class: "form-control" %>
            <% end %>
          </div>
          <div class="img-del-area">
            <% if @order.img_4.attached? && current_page?("/users/#{@user.id}/orders/#{@order.id}/edit") %>
              <%= f.label :"削除", class: "label-#{yield(:class_text)}" %>
              <% if params[:order] && params[:order][:del_img_4] == "1" %>
                <%= f.check_box :del_img_4, checked: true, class: "del-checkbox" %>
              <% else %>
                <%= f.check_box :del_img_4, class: "del-checkbox" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
        
      <div class="row img-form-item">
        <div class="col-xs-12 img-form-above">
          <div class="img-label-area"><%= f.label :img_5, class: "label-#{yield(:class_text)}" %></div>
          <div class="img-form-area"><%= f.file_field :img_5, class: "file-select" %></div>
        </div>
        <div class="col-xs-12 img-form-below">
          <div class="img-note-area">
            <% if params[:order] %>
              <%= f.text_field :img_5_note, maxlength: 40, value: params[:order][:img_5_note], placeholder: "画像(5)の詳細", class: "form-control" %>
            <% else %>
              <%= f.text_field :img_5_note, maxlength: 40, placeholder: "画像(5)の詳細", class: "form-control" %>
            <% end %>
          </div>
          <div class="img-del-area">
            <% if @order.img_5.attached? && current_page?("/users/#{@user.id}/orders/#{@order.id}/edit") %>
              <%= f.label :"削除", class: "label-#{yield(:class_text)}" %>
              <% if params[:order] && params[:order][:del_img_5] == "1" %>
                <%= f.check_box :del_img_5, checked: true, class: "del-checkbox" %>
              <% else %>
                <%= f.check_box :del_img_5, class: "del-checkbox" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
        
      <div class="row img-form-item">
        <div class="col-xs-12 img-form-above">
          <div class="img-label-area"><%= f.label :img_6, class: "label-#{yield(:class_text)}" %></div>
          <div class="img-form-area"><%= f.file_field :img_6, class: "file-select" %></div>
        </div>
        <div class="col-xs-12 img-form-below">
          <div class="img-note-area">
            <% if params[:order] %>
              <%= f.text_field :img_6_note, maxlength: 40, value: params[:order][:img_6_note], placeholder: "画像(6)の詳細", class: "form-control" %>
            <% else %>
              <%= f.text_field :img_6_note, maxlength: 40, placeholder: "画像(6)の詳細", class: "form-control" %>
            <% end %>
          </div>
          <div class="img-del-area">
            <% if @order.img_6.attached? && current_page?("/users/#{@user.id}/orders/#{@order.id}/edit") %>
              <%= f.label :"削除", class: "label-#{yield(:class_text)}" %>
              <% if params[:order] && params[:order][:del_img_6] == "1" %>
                <%= f.check_box :del_img_6, checked: true, class: "del-checkbox" %>
              <% else %>
                <%= f.check_box :del_img_6, class: "del-checkbox" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
        
      <div class="row img-form-item">
        <div class="col-xs-12 img-form-above">
          <div class="img-label-area"><%= f.label :img_7, class: "label-#{yield(:class_text)}" %></div>
          <div class="img-form-area"><%= f.file_field :img_7, class: "file-select" %></div>
        </div>
        <div class="col-xs-12 img-form-below">
          <div class="img-note-area">
            <% if params[:order] %>
              <%= f.text_field :img_7_note, maxlength: 40, value: params[:order][:img_7_note], placeholder: "画像(7)の詳細", class: "form-control" %>
            <% else %>
              <%= f.text_field :img_7_note, maxlength: 40, placeholder: "画像(7)の詳細", class: "form-control" %>
            <% end %>
          </div>
          <div class="img-del-area">
            <% if @order.img_7.attached? && current_page?("/users/#{@user.id}/orders/#{@order.id}/edit") %>
              <%= f.label :"削除", class: "label-#{yield(:class_text)}" %>
              <% if params[:order] && params[:order][:del_img_7] == "1" %>
                <%= f.check_box :del_img_7, checked: true, class: "del-checkbox" %>
              <% else %>
                <%= f.check_box :del_img_7, class: "del-checkbox" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
        
      <div class="row img-form-item">
        <div class="col-xs-12 img-form-above">
          <div class="img-label-area"><%= f.label :img_8, class: "label-#{yield(:class_text)}" %></div>
          <div class="img-form-area"><%= f.file_field :img_8, class: "file-select" %></div>
        </div>
        <div class="col-xs-12 img-form-below">
          <div class="img-note-area">
            <% if params[:order] %>
              <%= f.text_field :img_8_note, maxlength: 40, value: params[:order][:img_8_note], placeholder: "画像(8)の詳細", class: "form-control" %>
            <% else %>
              <%= f.text_field :img_8_note, maxlength: 40, placeholder: "画像(8)の詳細", class: "form-control" %>
            <% end %>
          </div>
          <div class="img-del-area">
            <% if @order.img_8.attached? && current_page?("/users/#{@user.id}/orders/#{@order.id}/edit") %>
              <%= f.label :"削除", class: "label-#{yield(:class_text)}" %>
              <% if params[:order] && params[:order][:del_img_8] == "1" %>
                <%= f.check_box :del_img_8, checked: true, class: "del-checkbox" %>
              <% else %>
                <%= f.check_box :del_img_8, class: "del-checkbox" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    
      <div class="order-submit-area">  
        <%= f.submit yield(:button_text), class: "btn btn-md btn-primary", id: "order-submit" %>
        <%= link_to :back do %>
          <button class="btn btn-md btn-default">戻る</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>

  $(document).on('turbolinks:load', function() {
    
    // 代入
    
    const clientId = $('select[name="order[client_id]"]');
    const kind = $('select[name="order[kind]"]');
    const plantId = $('select[name="order[plant_id]"]');
    const retail = $('input[name="order[retail]"]');
    const orderedOn = $('input[name="order[ordered_on]"]');
    const soldOn = $('input[name="order[sold_on]"]');
    const deliveredOn = $('input[name="order[delivered_on]"]');
    
    // 上代を受領済金額にコピー
    
    $('#copy-retail').on('click', function() {
      var retail = $('#retail').val();
      $('#deposit').val(retail);
    });
  
    // datepicker
    
    $('.datepicker').datepicker({
      showButtonPanel: true,
    });
    
    $.datepicker._gotoToday = function(id) { 
      $(id).datepicker('setDate', new Date()).datepicker('hide').blur().change();
    };
    
    // 各項目のバリデーション確認関数
    
    function clientIdChecker() {
      if(clientId.val() == '') {
        $('.client-id-alert').css('display', 'block');
      } else {
        $('.client-id-alert').css('display', 'none');
      }
    };
    
    function kindChecker() {
      if(kind.val() == '') {
        $('.kind-alert').css('display', 'block');
      } else {
        $('.kind-alert').css('display', 'none');
      }
    };
    
    function plantIdChecker() {
      if(plantId.val() == '') {
        $('.plant-id-alert').css('display', 'block');
      } else {
        $('.plant-id-alert').css('display', 'none');
      }
    };
    
    function retailChecker() {
      var retailVal = retail.val();
      if(retailVal.match(/^\d{1,7}$/) && parseInt(retailVal, 10) >= 1 && parseInt(retailVal, 10) <= 9999999) {
        $('.retail-alert').css('display', 'none');
      } else {
        $('.retail-alert').css('display', 'block');
      }
    };
    
    function orderedOnChecker() {
      var val = orderedOn.val();
      if(!val.match(/^\d{4}\/\d{2}\/\d{2}$/)) {
        $('.ordered-on-alert').css('display', 'block');
      } else {
        var y = val.split("/")[0];
        var m = val.split("/")[1] - 1;
        var d = val.split("/")[2];
        var date = new Date(y,m,d);
        if(date.getFullYear() != y || date.getMonth() != m || date.getDate() != d) {
          $('.ordered-on-alert').css('display', 'block');
        } else {
          $('.ordered-on-alert').css('display', 'none');
        }
      }
    };
    
    function soldOnChecker() {
      var val = soldOn.val();
      if(val == '') {
        $('.sold-on-alert').css('display', 'none');
      } else if(val.match(/^\d{4}\/\d{2}\/\d{2}$/)) {
        var y = val.split("/")[0];
        var m = val.split("/")[1] - 1;
        var d = val.split("/")[2];
        var date = new Date(y,m,d);
        if(date.getFullYear() != y || date.getMonth() != m || date.getDate() != d) {
          $('.sold-on-alert').css('display', 'block');
        } else {
          $('.sold-on-alert').css('display', 'none');
        }
      } else {
        $('.sold-on-alert').css('display', 'block');
      }
    };
    
    function deliveredOnChecker() {
      var val = deliveredOn.val();
      if(val == '') {
        $('.delivered-on-alert').css('display', 'none');
      } else if(val.match(/^\d{4}\/\d{2}\/\d{2}$/)) {
        var y = val.split("/")[0];
        var m = val.split("/")[1] - 1;
        var d = val.split("/")[2];
        var date = new Date(y,m,d);
        if(date.getFullYear() != y || date.getMonth() != m || date.getDate() != d) {
          $('.delivered-on-alert').css('display', 'block');
        } else {
          $('.delivered-on-alert').css('display', 'none');
        }
      } else {
        $('.delivered-on-alert').css('display', 'block');
      }
    };
    
    
    // 入力フォーム離脱時のバリデーション確認
    
    clientId.change(function() {
      clientIdChecker();
    });
    
    kind.change(function() {
      kindChecker();
    });
    
    plantId.change(function() {
      plantIdChecker();
    });
    
    retail.blur(function() {
      retailChecker();
    });
    
    orderedOn.blur(function() {
      orderedOnChecker();
    });
    
    soldOn.blur(function() {
      soldOnChecker();
    });
    
    deliveredOn.blur(function() {
      deliveredOnChecker();
    });
    
    // 送信前のバリデーション確認
    
    $('#order-submit').on('click', function() {
      clientIdChecker();
      kindChecker();
      plantIdChecker();
      retailChecker();
      orderedOnChecker();
      soldOnChecker();
      deliveredOnChecker();
      $('.form-alert').each(function() {
        if($(this).css('display') == 'block') {
          event.preventDefault();
        }
      });
    });
    
    $('#test').on('click', function() {
      alert(soldOn.val());
      event.preventDefault();
    });
    
  });
  
</script>
