<%= form_with(model: @order, url: yield(:url), local: true) do |f| %>
  <%= render "shared/error_messages", object: @order %>
  
  <div class="row">
    <div class="col-xs-6">
      <%= f.label :client_id, class: "label-#{yield(:class_text)}" %>
      <%= f.collection_select(:client_id, @clients, :id, :name, {prompt: "顧客を選択"},
          {class: "form-control"}) %>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-9 narrow-client-left">
          <%= f.label "顧客を絞り込む", class: "label-#{yield(:class_text)}" %>
          <%= f.text_field :narrow, class: "form-control", placeholder: "キーワードを入力" %>
        </div>
        <div class="col-xs-3 narrow-client-right">
          <%= f.submit "絞り込む", name: "narrow_client_button", class: "btn btn-md btn-primary btn-block" %>
        </div>
      </div>
    </div> 
  </div>
  
  <div class="row">
    <div class="col-xs-4">
      <%= f.label :kind, class: "label-#{yield(:class_text)}" %>
      <% if params[:order] %>
        <% if params[:order][:kind].blank? %>
          <%= f.select :kind, options_for_select({"SP": 1, "SVP": 2, "SPP": 3, "SVPP": 4, "V": 5, "P": 6, "PP": 7, "Sh": 8}),
              {prompt: "タイプを選択"}, class: "form-control" %>
        <% else %>
          <%= f.select :kind, options_for_select({"SP": 1, "SVP": 2, "SPP": 3, "SVPP": 4, "V": 5,
                                                  "P": 6, "PP": 7, "Sh": 8}, params[:order][:kind]),
              {prompt: "タイプを選択"}, class: "form-control" %>
        <% end %>
      <% else %>
        <%= f.select :kind, options_for_select({"SP": 1, "SVP": 2, "SPP": 3, "SVPP": 4, "V": 5, "P": 6, "PP": 7, "Sh": 8}),
              {prompt: "タイプを選択"}, class: "form-control" %>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= f.label :plant_id, class: "label-#{yield(:class_text)}" %>
      <% if params[:order] %>
        <% if params[:order][:plant_id].blank? %>
          <%= f.collection_select(:plant_id, @plants, :id, :name, {prompt: "工場を選択"},
              {class: "form-control"}) %>
        <% else %>
          <%= f.collection_select(:plant_id, @plants, :id, :name, {selected: params[:order][:plant_id]},
              {class: "form-control"}) %>
        <% end %>
      <% else %>
        <%= f.collection_select(:plant_id, @plants, :id, :name, {prompt: "工場を選択"},
            {class: "form-control"}) %>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= f.label :retail, class: "label-#{yield(:class_text)}" %>
      <% if params[:order] %>
        <% if params[:order][:retail].blank? %>
          <%= f.text_field :retail, class: "form-control" %>
        <% else %>
          <%= f.text_field :retail, value: params[:order][:retail], class: "form-control" %>
        <% end %>
      <% else %>
        <%= f.text_field :retail, class: "form-control" %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-4">
      <%= f.label :order_date, class: "label-#{yield(:class_text)}" %>
      <%= f.date_field :order_date, class: "form-control" %>
    </div>
    <div class="col-xs-4">
      <%= f.label :sales_date, class: "label-#{yield(:class_text)}" %>
      <%= f.date_field :sales_date, class: "form-control" %>
    </div>
    <div class="col-xs-4">
      <%= f.label :delivery, class: "label-#{yield(:class_text)}" %>
      <%= f.date_field :delivery, class: "form-control" %>
    </div>
  </div>
  
  <%= f.label :note, class: "label-#{yield(:class_text)}" %>
  <% if params[:order] %>
    <% if params[:order][:note].blank? %>
      <%= f.text_field :note, class: "form-control" %>
    <% else %>
      <%= f.text_field :note, value: params[:order][:note], class: "form-control" %>
    <% end %>
  <% else %>
    <%= f.text_field :note, class: "form-control" %>
  <% end %>
  
  
  <div class="cost-area"><p>費用(円)</p></div>
  
  <div class="row">
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-8 cost-left">
          <%= f.label :wage, class: "label-#{yield(:class_text)}" %>
          <%= f.text_field :wage, class: "form-control" %>
        </div>
        <div class="col-xs-4 cost-right">
          <%= f.label :"支払済", class: "label-#{yield(:class_text)}" %>
          <%= f.check_box :wage_pay, class: "pay-checkbox" %>
        </div>
      </div> 
    </div> 
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-8 cost-left">
          <%= f.label :cloth, class: "label-#{yield(:class_text)}" %>
          <%= f.text_field :cloth, class: "form-control" %>
        </div>
        <div class="col-xs-4 cost-right">
          <%= f.label :"支払済", class: "label-#{yield(:class_text)}" %>
          <%= f.check_box :cloth_pay, class: "pay-checkbox" %>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-8 cost-left">
          <%= f.label :lining, class: "label-#{yield(:class_text)}" %>
          <%= f.text_field :lining, class: "form-control" %>
        </div>
        <div class="col-xs-4 cost-right">
          <%= f.label :"支払済", class: "label-#{yield(:class_text)}" %>
          <%= f.check_box :lining_pay, class: "pay-checkbox" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-8 cost-left">
          <%= f.label :button, class: "label-#{yield(:class_text)}" %>
          <%= f.text_field :button, class: "form-control" %>
        </div>
        <div class="col-xs-4 cost-right">
          <%= f.label :"支払済", class: "label-#{yield(:class_text)}" %>
          <%= f.check_box :button_pay, class: "pay-checkbox" %>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-8 cost-left">
          <%= f.label :postage, class: "label-#{yield(:class_text)}" %>
          <%= f.text_field :postage, class: "form-control" %>
        </div>
        <div class="col-xs-4 cost-right">
          <%= f.label :"支払済", class: "label-#{yield(:class_text)}" %>
          <%= f.check_box :postage_pay, class: "pay-checkbox" %>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-8 cost-left">
          <%= f.label :other, class: "label-#{yield(:class_text)}" %>
          <%= f.text_field :other, class: "form-control" %>
        </div>
        <div class="col-xs-4 cost-right">
          <%= f.label :"支払済", class: "label-#{yield(:class_text)}" %>
          <%= f.check_box :other_pay, class: "pay-checkbox" %>
        </div>
      </div>
    </div>
  </div>
  
  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="order-submit-area">  
    <%= f.submit yield(:button_text), class: "btn btn-md btn-primary" %>
    <%= link_to :back do %>
      <button class="btn btn-md btn-default">戻る</button>
    <% end %>
  </div>
<% end %>