<% provide(:title, "Trading Order") %>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h1>取引中オーダー一覧</h1>
    
    <div class="row">
      <div class="col-xs-12 narrow-order-label">受注月で絞り込む</div>
      <div class="col-xs-12 col-md-6 order-narrow-area">
        <%= form_with url: user_orders_path(@user), method: :get, local: true do |f| %>
          <div>
            <% if @searched_date %>
              <%= f.date_select :narrow_year, {prompt: "--", discard_month: true, start_year: Time.current.year,
                  end_year: Time.current.year-100, selected: @searched_date}, {class: "form-control"} %>
            <% else %>
              <%= f.date_select :narrow_year, {prompt: "--", discard_month: true, start_year: Time.current.year,
                  end_year: Time.current.year-100}, {class: "form-control"} %>
            <% end %>
          </div>
          <div>年</div>
          <div>
            <% if @searched_date %>
              <%= f.select :narrow_month, options_for_select({"1": "01", "2": "02", "3": "03", "4": "04",
                  "5": "05", "6": "06", "7": "07", "8": "08", "9": "09", "10": "10", "11": "11", "12": "12"},
                  selected: params["narrow_month"]), {prompt: "--"}, class: "form-control" %>
            <% else %>
              <%= f.select :narrow_month, options_for_select({"1": "01", "2": "02", "3": "03", "4": "04",
                  "5": "05", "6": "06", "7": "07", "8": "08", "9": "09", "10": "10", "11": "11", "12": "12"}),
                  {prompt: "--"}, class: "form-control" %>
            <% end %>
          </div>
          <div>月</div>
          <div><%= f.submit "検索", class: "btn btn-md btn-primary btn-block" %></div>
          <div><%= link_to "リセット", user_orders_path(@user),
                                            class: "btn btn-md btn-default btn-block" %></div>
        <% end %>
      </div>
    </div>
    
    <% if @orders.count == 0 %>
      <%= render 'no_order_info' %>
    <% else %>
      <%= will_paginate %>
      <table class="table table-bordered table-condensed table-hover" id="trading-orders-table">
        <thead>
          <tr>
            <th>顧客名</th>
            <th>受注日</th>
            <th>納品予定日</th>
            <th>上代</th>
            <th>入金</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr class="hover" data-href="<%= user_order_path(@user, order) %>">
              <td><%= client_name(order) %></td>
              <td><%= l(order.order_date, format: :long) %></td>
              <td><%= l(order.delivery, format: :long) if order.delivery.present? %></td>
              <td><%= order.retail %>円</td>
              <td>
                <% not_deposit(order) %>
                <% if @not_deposit == 0 %>
                  済
                <% else %>
                  <span class="red">未</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate %>
      
      <table class="table table-bordered table-condensed" id="total-trading-table">
        <tr>
          <th width=33%>件数</th>
          <th width=33%>上代合計</th>
          <th>費用合計</th>
        </tr>
        <tr>
          <td><%= @trading_orders.count %>件</td>
          <td><%= @total_retail %>円</td>
          <td><%= @all_total_cost %>円</td>
        </tr>
        <tr>
          <th>粗利合計</th>
          <th>入金合計</th>
          <th>未入金合計</th>
        </tr>
        <tr>
          <td><%= @total_gross_profit %>円</td>
          <td><%= @total_deposit %>円</td>
          <td><span class="red"><%= @totlal_not_deposit %></span>円</td>
        </tr>
      </table>
    <% end %>
  </div>
</div>

<%= render 'shared/tr_link_jq' %>