<% provide(:title, "Trading Order") %>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h1>取引中オーダー一覧</h1>
    <%= will_paginate %>
    <table class="table table-bordered table-condensed table-hover" id="trading-orders-table">
      <thead>
        <tr>
          <th>顧客名</th>
          <th>受注日</th>
          <th>納品予定日</th>
          <th>上代</th>
          <th>費用合計</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr class="hover" data-href="<%= user_order_path(@user, order) %>">
            <td><%= client_name(order) %></td>
            <td><%= l(order.order_date, format: :long) %></td>
            <td><%= l(order.delivery, format: :long) if order.delivery.present? %></td>
            <td><%= order.retail %>円</td>
            <td><%= put_price_or_bar(total_cost(order)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
</div>

<%= render 'shared/tr_link_jq' %>