<% provide(:title, "Trading Order") %>

<h1><%= "#{@user.name}様の取引中オーダー一覧" %></h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-condensed table-hover" id="trading-orders-table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>顧客名</th>
          <th>受注日</th>
          <th>納品予定日</th>
          <th>上代</th>
          <th>費用合計</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to "詳細", user_order_path(@user, order), class: "btn btn-sm btn-primary" %></td>
            <td>
              <%= link_to "削除", user_order_path(@user, order), method: :delete, 
                  class: "btn btn-sm btn-primary", data: { confirm: "このオーダーを削除してよろしいですか？" } %>
            </td>
            <td><%= client_name(order) %></td>
            <td><%= l(order.order_date, format: :long) %></td>
            <td><%= l(order.delivery, format: :long) if order.delivery.present? %></td>
            <td><%= order.retail %></td>
            <td><%= total_cost(order) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>