<% provide(:title, "Order Details") %>

<h1>オーダーの詳細情報</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered table-condensed" id="order-show-table">
      <tr>
        <th>顧客名</th>
        <td colspan=3 width=75%><%= client_name(@order) %></td>
      </tr>
      <tr>
        <th>品名</th>
        <td colspan=3><%= @order.kind %></td>
      </tr>
      <tr>
        <th>受注工場</th>
        <td colspan=3><%= plant_name(@order) if @order.plant_id.present? %></td>
      </tr>
      <tr>
        <th>上代</th>
        <td colspan=3><%= @order.retail %></td>
      </tr>
      <tr>
        <th>受注日</th>
        <td colspan=3><%= l(@order.order_date, format: :long) %></td>
      </tr>
      <tr>
        <th>売上日</th>
        <td colspan=3><%= l(@order.sales_date, format: :long) if @order.sales_date.present? %></td>
      </tr>
      <tr>
        <th>納品予定日</th>
        <td colspan=3><%= l(@order.delivery, format: :long) if @order.delivery.present? %></td>
      </tr>
      <tr>
        <th>費用合計</th>
        <td colspan=3><%= put_price_or_bar(total_cost(@order)) %></td>
      </tr>
      <tr>
        <th rowspan=4>費用詳細</th>
        <th width=25%>工賃</th>
        <th width=25%>生地</th>
        <th width=25%>裏地</th>
      </tr>
      <tr>
        <td>
          <%= show_cost_detail(@order.wage) %>
          <% if @order.wage.present? && @order.wage_pay == true %>
            <span class="paid">支払済</span>
          <% elsif @order.wage.present? && @order.wage_pay == false %>
            <span class="unpaid">未払い</span>
          <% end %>
        </td>
        <td>
          <%= show_cost_detail(@order.cloth) %>
          <% if @order.cloth.present? && @order.cloth_pay == true %>
            <span class="paid">支払済</span>
          <% elsif @order.cloth.present? && @order.cloth_pay == false %>
            <span class="unpaid">未払い</span>
          <% end %>
        </td>
        <td>
          <%= show_cost_detail(@order.lining) %>
          <% if @order.lining.present? && @order.lining_pay == true %>
            <span class="paid">支払済</span>
          <% elsif @order.lining.present? && @order.lining_pay == false %>
            <span class="unpaid">未払い</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>ボタン</th>
        <th>送料</th>
        <th>その他</th>
      </tr>
      <tr>
        <td>
          <%= show_cost_detail(@order.button) %>
          <% if @order.button.present? && @order.button_pay == true %>
            <span class="paid">支払済</span>
          <% elsif @order.button.present? && @order.button_pay == false %>
            <span class="unpaid">未払い</span>
          <% end %>
        </td>
        <td>
          <%= show_cost_detail(@order.postage) %>
          <% if @order.postage.present? && @order.postage_pay == true %>
            <span class="paid">支払済</span>
          <% elsif @order.postage.present? && @order.postage_pay == false %>
            <span class="unpaid">未払い</span>
          <% end %>
        </td>
        <td>
          <%=show_cost_detail( @order.other) %>
          <% if @order.other.present? && @order.other_pay == true %>
            <span class="paid">支払済</span>
          <% elsif @order.other.present? && @order.other_pay == false %>
            <span class="unpaid">未払い</span>
          <% end %>
        </td>
      </tr>
      <% if total_unpaid(@order) > 0 %>
        <tr>
          <th>未払い費用合計金額</th>
          <td colspan=3 class="total-unpaid"><%= @total_unpaid %>円</td>
        </tr>
      <% end %>
      <tr>
        <th>備考</th>
        <td colspan=3><%= @order.note %></td>
      </tr>
    </table>
    <div class="show-btn-area">
      <%= link_to "オーダー内容を更新", edit_user_order_path(@user, @order), class: "btn btn-md btn-primary" %>
      <%= link_to "取引中オーダー一覧へ", user_orders_path(@user), class: "btn btn-md btn-default" %>
      <%= link_to "取引済オーダー一覧へ", users_orders_traded_path(@user), class: "btn btn-md btn-default" %>
      <%= link_to "削除", user_order_path(@user, @order), method: :delete, 
          class: "btn btn-sm btn-danger", data: { confirm: "このオーダーを削除してよろしいですか？" } %>
    </div>
  </div>
</div>