<% provide(:title, "Order Detail") %>

<h1>オーダーの詳細情報</h1>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <table class="table table-bordered table-condensed" id="order-show-table">
      <tr>
        <th width=20%>顧客名</th>
        <td colspan=3 width=75% class="hover" data-href="<%= user_client_path(@user, @order.client_id) %>">
          <%= client_name(@order) %>
        </td>
      </tr>
      <tr>
        <th>品名</th>
        <td colspan=3><%= @order.kind %></td>
      </tr>
      <tr>
        <th>受注工場</th>
        <td colspan=3 class="hover" data-href="<%= user_plant_path(@user, @order.plant_id) %>">
          <%= plant_name(@order) %>
          </td>
      </tr>
      <tr>
        <th>上代</th>
        <td colspan=3><%= @order.retail %>円</td>
      </tr>
      <tr>
        <th>受領状態</th>
        <td colspan=3>
          <% not_deposit(@order) %>
          <% if @not_deposit == 0 %>
            全額済
          <% else %>
            済：<%= @order.deposit.to_i %>円　　
            <span class="red">未</span>：<span class="red"><%= @not_deposit %></span>円
          <% end %>
        </td>
      </tr>
      <tr>
        <th>受注日</th>
        <td colspan=3><%= l(@order.order_date, format: :long) %></td>
      </tr>
      <tr>
        <th>売上日</th>
        <td colspan=3><%= l(@order.sales_date, format: :long) if @order.sales_date.present? %></td>
      </tr>
      <tr>
        <th>納品予定日</th>
        <td colspan=3><%= l(@order.delivery, format: :long) if @order.delivery.present? %></td>
      </tr>
      <tr>
        <th>粗利</th>
        <td colspan=3><%= gross_profit(@order) %>円</td>
      </tr>
      <tr>
        <th>費用合計</th>
        <td colspan=3><%= put_price_or_bar(total_cost(@order)) %></td>
      </tr>
      <tr>
        <th rowspan=4>費用詳細</th>
        <th width=25%>工賃</th>
        <th width=25%>生地</th>
        <th width=25%>裏地</th>
      </tr>
      <tr>
        <td>
          <%= show_cost_detail(@order.wage) %>
          <% if @order.wage.present? && @order.wage_pay == true %>
            <span class="paid">支払済</span>
          <% elsif @order.wage.present? && @order.wage_pay == false %>
            <span class="unpaid">未払い</span>
          <% end %>
        </td>
        <td>
          <%= show_cost_detail(@order.cloth) %>
          <% if @order.cloth.present? && @order.cloth_pay == true %>
            <span class="paid">支払済</span>
          <% elsif @order.cloth.present? && @order.cloth_pay == false %>
            <span class="unpaid">未払い</span>
          <% end %>
        </td>
        <td>
          <%= show_cost_detail(@order.lining) %>
          <% if @order.lining.present? && @order.lining_pay == true %>
            <span class="paid">支払済</span>
          <% elsif @order.lining.present? && @order.lining_pay == false %>
            <span class="unpaid">未払い</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>ボタン</th>
        <th>送料</th>
        <th>その他</th>
      </tr>
      <tr>
        <td>
          <%= show_cost_detail(@order.button) %>
          <% if @order.button.present? && @order.button_pay == true %>
            <span class="paid">支払済</span>
          <% elsif @order.button.present? && @order.button_pay == false %>
            <span class="unpaid">未払い</span>
          <% end %>
        </td>
        <td>
          <%= show_cost_detail(@order.postage) %>
          <% if @order.postage.present? && @order.postage_pay == true %>
            <span class="paid">支払済</span>
          <% elsif @order.postage.present? && @order.postage_pay == false %>
            <span class="unpaid">未払い</span>
          <% end %>
        </td>
        <td>
          <%=show_cost_detail( @order.other) %>
          <% if @order.other.present? && @order.other_pay == true %>
            <span class="paid">支払済</span>
          <% elsif @order.other.present? && @order.other_pay == false %>
            <span class="unpaid">未払い</span>
          <% end %>
        </td>
      </tr>
      <% if total_unpaid(@order) > 0 %>
        <tr>
          <th>未払い費用<br>合計金額</th>
          <td colspan=3><span class="red"><%= @total_unpaid %></span>円</td>
        </tr>
      <% end %>
      <tr>
        <th>備考</th>
        <td colspan=3><%= @order.note %></td>
      </tr>
    </table>
  </div>
  
    
  <% if params[:img] == "display" %>
    <div class="col-xs-12 col-md-8 col-md-offset-2 img-display-btn-area">
      <%= link_to "画像を非表示", user_order_path(@user, @order), class: "btn btn-lg btn-primary" %>
    </div>
      
    <% if @order.img_1.attached? %>
      <div class="col-xs-12 col-lg-6">
        <div class="img-display-area"><%= image_tag @order.img_1.variant(resize: "570x760") %></div>
        <div class="img-title-area">
          <h3>画像(1)</h3>
          <% if @order.img_1_note.present? %>
            <%= @order.img_1_note %>
          <% else %>
            <p>詳細なし</p>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <% if @order.img_2.attached? %>
      <div class="col-xs-12 col-lg-6">
        <div class="img-display-area"><%= image_tag @order.img_2.variant(resize: "570x760") %></div>
        <div class="img-title-area">
          <h3>画像(2)</h3>
          <% if @order.img_2_note.present? %>
            <%= @order.img_2_note %>
          <% else %>
            <p>詳細なし</p>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <% if @order.img_3.attached? %>
      <div class="col-xs-12 col-lg-6">
        <div class="img-display-area"><%= image_tag @order.img_3.variant(resize: "570x760") %></div>
        <div class="img-title-area">
          <h3>画像(3)</h3>
          <% if @order.img_3_note.present? %>
            <%= @order.img_3_note %>
          <% else %>
            <p>詳細なし</p>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <% if @order.img_4.attached? %>
      <div class="col-xs-12 col-lg-6">
        <div class="img-display-area"><%= image_tag @order.img_4.variant(resize: "570x760") %></div>
        <div class="img-title-area">
          <h3>画像(4)</h3>
          <% if @order.img_4_note.present? %>
            <%= @order.img_4_note %>
          <% else %>
            <p>詳細なし</p>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <% if @order.img_5.attached? %>
      <div class="col-xs-12 col-lg-6">
        <div class="img-display-area"><%= image_tag @order.img_5.variant(resize: "570x760") %></div>
        <div class="img-title-area">
          <h3>画像(5)</h3>
          <% if @order.img_5_note.present? %>
            <%= @order.img_5_note %>
          <% else %>
            <p>詳細なし</p>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <% if @order.img_6.attached? %>
      <div class="col-xs-12 col-lg-6">
        <div class="img-display-area"><%= image_tag @order.img_6.variant(resize: "570x760") %></div>
        <div class="img-title-area">
          <h3>画像(6)</h3>
          <% if @order.img_6_note.present? %>
            <%= @order.img_6_note %>
          <% else %>
            <p>詳細なし</p>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <% if @order.img_7.attached? %>
      <div class="col-xs-12 col-lg-6">
        <div class="img-display-area"><%= image_tag @order.img_7.variant(resize: "570x760") %></div>
        <div class="img-title-area">
          <h3>画像(7)</h3>
          <% if @order.img_7_note.present? %>
            <%= @order.img_7_note %>
          <% else %>
            <p>詳細なし</p>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <% if @order.img_8.attached? %>
      <div class="col-xs-12 col-lg-6">
        <div class="img-display-area"><%= image_tag @order.img_8.variant(resize: "570x760") %></div>
        <div class="img-title-area">
          <h3>画像(8)</h3>
          <% if @order.img_8_note.present? %>
            <%= @order.img_8_note %>
          <% else %>
            <p>詳細なし</p>
          <% end %>
        </div>
      </div>
    <% end %>
        
  <% else %>
    <div class="col-xs-12 col-md-8 col-md-offset-2 img-display-btn-area">
      <%= link_to "画像を表示", user_order_path(@user, @order, img: "display"),
          class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>
    
  <div class="col-xs-12 col-md-8 col-md-offset-2 show-btn-area">
    <%= link_to "オーダー内容を更新", edit_user_order_path(@user, @order), class: "btn btn-md btn-primary" %>
    <%= link_to "削除", user_order_path(@user, @order), method: :delete, 
        class: "btn btn-md btn-danger", data: { confirm: "このオーダーを削除してよろしいですか？" } %>
    <%= link_to :back do %>
      <button class="btn btn-md btn-default">戻る</button>
    <% end %>
  </div>
</div>

<script>
  jQuery(function($) {
    $('tbody td[data-href]').addClass('clickable').click( function() {
        window.location = $(this).attr('data-href');
    }).find('a').hover( function() {
        $(this).parents('td').unbind('click');
    }, function() {
        $(this).parents('td').click( function() {
            window.location = $(this).attr('data-href');
        });
    });
  });
</script>