<% provide(:title, "Traded Orders") %>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h1>取引済オーダー一覧</h1>
    <h1><%= @first_day.strftime("%Y年%m月") %></h1>
    
    <div class="row">
      <div class="col-xs-12 narrow-order-label">対象月を変更</div>
      <div class="col-xs-12 col-md-6 order-narrow-area">
        <%= form_with url: users_orders_traded_path(@user), method: :get, local: true do |f| %>
          <div>
            <%= f.date_select :narrow_year, {prompt: "--", discard_month: true, start_year: Time.current.year,
                end_year: Time.current.year-100, selected: @first_day}, {class: "form-control"} %>
          </div>
          <div>年</div>
          <div>
            <%= f.select :narrow_month, options_for_select({"1": "1", "2": "2", "3": "3", "4": "4",
                "5": "5", "6": "6", "7": "7", "8": "8", "9": "9", "10": "10", "11": "11", "12": "12"},
                selected: @first_day.month), {prompt: "--"}, class: "form-control" %>
          </div>
          <div>月</div>
          <div><%= f.submit "検索", class: "btn btn-md btn-primary btn-block" %></div>
          <div><%= link_to "リセット", users_orders_traded_path(@user), class: "btn btn-md btn-default btn-block" %></div>
        <% end %>
      </div>
    </div>
    
    <% if @orders.count == 0 %>
      <%= render 'no_order_info' %>
    <% else %>
      <%= will_paginate %>
      <table class="table table-bordered table-condensed table-hover" id="traded-orders-table">
        <thead>
          <tr>
            <th width="20%">顧客名</th>
            <th width="30%">売上日</th>
            <th width="30%">受注日</th>
            <th width="10%">上代</th>
            <th width="10%">粗利</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr class="hover" data-href="<%= user_order_path(@user, order) %>">
              <td><%= client_name(order) %></td>
              <td><%= l(order.sales_date, format: :long) %></td>
              <td><%= l(order.order_date, format: :long) %></td>
              <td><%= order.retail %>円<% @total_retail = @total_retail.to_i + order.retail.to_i %></td>
              <td><%= gross_profit(order) %>円</td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate %>
      
      <table class="table table-bordered table-condensed" id="traded-total-table">
        <tr>
          <th width=25%>件数</th>
          <th width=25%>上代合計</th>
          <th width=25%>費用合計</th>
          <th width=25%>粗利合計</th>
        </tr>
        <tr>
          <td><%= @all_traded_orders.count %>件</td>
          <td><%= @total_retail %>円</td>
          <td><%= put_price_or_bar(@all_cost) %></td>
          <td><%= @total_gross_profit %>円</td>
        </tr>
      </table>
    <% end %>
  </div>
</div>

<%= render 'shared/tr_link_jq' %>