<% provide(:title, "Traded Order") %>

<h1>
  <%= link_to "＜", users_orders_traded_path(@user, date: @first_day.prev_month), class: "btn btn-lg btn-primary" %>
  <%= @first_day.month %>月の取引済オーダー一覧
  <%= link_to "＞", users_orders_traded_path(@user, date: @first_day.next_month), class: "btn btn-lg btn-primary" %>
</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered table-condensed table-hover" id="traded-orders-table">
      <thead>
        <tr>
          <th></th>
          <th>顧客名</th>
          <th>売上日</th>
          <th>受注日</th>
          <th>上代</th>
          <th>費用合計</th>
          <th>粗利</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to "詳細", user_order_path(@user, order), class: "btn btn-sm btn-primary" %></td>
            <td><%= client_name(order) %></td>
            <td><%= l(order.sales_date, format: :long) %></td>
            <td><%= l(order.order_date, format: :long) %></td>
            <td>
              <%= order.retail %>円
              <% @total_retail = @total_retail.to_i + order.retail.to_i %>
            </td>
            <td>
              <%= put_price_or_bar(total_cost(order)) %>
              <% @all_cost = @all_cost.to_i + total_cost(order).to_i %>
            </td>
            <td>
              <%= put_price_or_bar(gross_profit(order)) %>
              <% @total_gross_profit = @total_gross_profit.to_i + gross_profit(order).to_i %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfooter>
        <tr>
          <th>合計オーダー件数</th>
          <th colspan=2>上代合計金額</th>
          <th colspan=2>費用合計金額</th>
          <th colspan=2>粗利合計金額</th>
        </tr>
        <tr>
          <td><%= @orders.count %>件</td>
          <td colspan=2><%= @total_retail %>円</td>
          <td colspan=2><%= @all_cost %>円</td>
          <td colspan=2><%= @total_gross_profit %>円</td>
        </tr>
      </tfooter>
    </table>
  </div>
</div>