<%= form_with(model: @plant, url: yield(:url), local: true) do |f| %>
  <%= render "shared/error_messages", object: @plant %>
  
  <%= f.label :name, "工場名 (必須)", class: "label-#{yield(:class_text)}" %>
  <% if params[:plant] %>
    <%= f.text_field :name, value: params[:plant][:name], class: "form-control" %>
  <% else %>
    <%= f.text_field :name, class: "form-control" %>
  <% end %>
  
  <div class="row">
    <div class="col-xs-9 form-zip-left">
      <%= f.label "住所検索", class: "label-#{yield(:class_text)}" %>
      <% if @zipcode %>
        <%= f.text_field :zipcode, value: @zipcode, class: "form-control", placeholder: "郵便番号を入力" %>
      <% else %>
        <%= f.text_field :zipcode, class: "form-control", placeholder: "郵便番号を入力" %>
      <% end %>
    </div>
    <div class="col-xs-3 form-zip-right">
      <%= f.submit "検索", name: "zip_search_button", class: "btn btn-md btn-primary btn-block" %>
    </div>
  </div>
  
  <%= f.label :address, class: "label-#{yield(:class_text)}" %>
  <% if params[:plant] && @zipcode %>
    <%= f.text_field :address, value: @result_address, class: "form-control" %>
  <% elsif params[:plant] %>
    <%= f.text_field :address, value: params[:plant][:address], class: "form-control" %>
  <% else %>
    <%= f.text_field :address, class: "form-control" %>
  <% end %>
  
  <%= f.label :tel_1, class: "label-#{yield(:class_text)}" %>
  <% if params[:plant] %>
    <%= f.telephone_field :tel_1, value: params[:plant][:tel_1], class: "form-control" %>
  <% else %>
    <%= f.telephone_field :tel_1, class: "form-control" %>
  <% end %>
  
  <%= f.label :tel_2, class: "label-#{yield(:class_text)}" %>
  <% if params[:plant] %>
    <%= f.telephone_field :tel_2, value: params[:plant][:tel_2], class: "form-control" %>
  <% else %>
    <%= f.telephone_field :tel_2, class: "form-control" %>
  <% end %>
  
  <%= f.label :fax, class: "label-#{yield(:class_text)}" %>
  <% if params[:plant] %>
    <%= f.telephone_field :fax, value: params[:plant][:fax], class: "form-control" %>
  <% else %>
    <%= f.telephone_field :fax, class: "form-control" %>
  <% end %>
  
  <%= f.label :email, class: "label-#{yield(:class_text)}" %>
  <% if params[:plant] %>
    <%= f.email_field :email, value: params[:plant][:email], class: "form-control" %>
  <% else %>
    <%= f.email_field :email, class: "form-control" %>
  <% end %>
  
  <%= f.label :staff_1, class: "label-#{yield(:class_text)}" %>
  <% if params[:plant] %>
    <%= f.text_field :staff_1, value: params[:plant][:staff_1], class: "form-control" %>
  <% else %>
    <%= f.text_field :staff_1, class: "form-control" %>
  <% end %>
  
  <%= f.label :staff_2, class: "label-#{yield(:class_text)}" %>
  <% if params[:plant] %>
    <%= f.text_field :staff_2, value: params[:plant][:staff_2], class: "form-control" %>
  <% else %>
    <%= f.text_field :staff_2, class: "form-control" %>
  <% end %>
  
  <%= f.label :note, class: "label-#{yield(:class_text)}" %>
  <% if params[:plant] %>
    <%= f.text_field :note, value: params[:plant][:note], class: "form-control" %>
  <% else %>
    <%= f.text_field :note, class: "form-control" %>
  <% end %>
  
  <%= f.hidden_field :user_id, value: @user.id %>
  
  <div class="plant-submit-area">
    <%= f.submit yield(:button_text), class: "btn btn-primary btn-md" %>
    <%= link_to :back do %>
      <button class="btn btn-md btn-default">戻る</button>
    <% end %>
  </div>
<% end %>