<% provide(:title, "All Plants") %>

<h1><%= "#{@user.name}様の契約工場一覧" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= will_paginate %>
    <table class="table table-bordered table-condensed table-hover" id="user-plants-table">
      <thead>
        <tr>
          <td><%= link_to "新規工場登録", new_user_plant_path(@user), class: "btn btn-md btn-primary" %></td>
          <th>電話番号(1)</th>
        </tr>
      </thead>
      <tbody>
        <% @plants.each do |plant| %>
          <tr>
            <td><%= link_to plant.name, user_plant_path(@user, plant) %></td>
            <td><%= plant.tel_1 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
</div>