<% provide(:title, @plant.name) %>

<h1>工場詳細情報</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-condensed" id="plant-table">
      <tr>
        <th>工場名</th>
        <td><%= @plant.name %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @plant.address %></td>
      </tr>
      <tr>
        <th>電話番号(1)</th>
        <td><%= @plant.tel_1 %></td>
      </tr>
      <tr>
        <th>電話番号(2)</th>
        <td><%= @plant.tel_2 %></td>
      </tr>
      <tr>
        <th>FAX番号</th>
        <td><%= @plant.fax %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @plant.email %></td>
      </tr>
      <tr>
        <th>担当者(1)</th>
        <td><%= @plant.staff_1 %></td>
      </tr>
      <tr>
        <th>担当者(2)</th>
        <td><%= @plant.staff_2 %></td>
      </tr>
      <tr>
        <th>備考</th>
        <td><%= @plant.note %></td>
      </tr>
    </table>
    
    <div class="plant-show-btn-area">
      <%= link_to "工場情報を編集", edit_user_plant_path(@user, @plant), class: "btn btn-md btn-primary" %>
      <%= link_to "削除", user_plant_path(@user, @plant), method: :delete,
          class: "btn btn-md btn-danger", data: { confirm: "#{@plant.name}を削除してよろしいですか？" } %>
      <%= link_to "工場一覧へ", user_plants_path(@user), class: "btn btn-md btn-default" %>
    </div>
    
    <% if params[:history] == "display" %>
      <div class="btn-plant-history">
        <%= link_to "オーダー履歴を非表示", user_plant_path(@user, @plant), class: "btn btn-lg btn-primary" %>
      </div>
        
      <% if @histories.count > 0 %>
        <%= will_paginate %>
        <table class="table table-bordered table-condensed table-hover" id="plant-history-table">
          <thead>
            <tr>
              <th></th>
              <th>受注日</th>
              <th>売上日</th>
              <th>上代</th>
            </tr>
          </thead>
          <tbody>
            <% @histories.each do |history| %>
              <tr>
                <td><%= link_to "詳細", user_order_path(@user, history),class: "btn btn-sm btn-primary" %></td>
                <td><%= l(history.order_date, format: :long) %></td>
                <td><%= l(history.sales_date, format: :long) if history.sales_date.present? %></td>
                <td><%= history.retail %>円</td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate %>
      <% end %>
        
    <% else %>
      <div class="btn-plant-history">
        <%= link_to "オーダー履歴を表示", user_plant_path(@user, @plant, history: "display"),
            class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>
</div>